<section id="structure"  [ngStyle]="{'background-image': 'url('+background_body+')'}"  class="image">
   <!--options of navigation-->
  <ng-main-level-heading (navigateVowel)="next($event)"></ng-main-level-heading>
  <!--end option of navigation-->

  <div class="content container">
    <div class="info">
        <p>Debes hacer clic en los objetos</p>
  </div> 

 

  <div class="row" id="stepLetter" *ngIf="operation.stepLetter==true">
      <div class="col-md-12">
        <div class="content-video">
          <video id="video" controls="on" autoplay="on" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
            <source src="{{url}}video/abecedario/{{data[operation.position]['sign']}}" type="video/mp4">
              <source src="{{url}}video/abecedario/{{data[operation.position]['sign']}}" type="video/ogg">
          </video>
        </div>
      </div>
      <div class="col-md-12">
        <div class="letter">
          <a class="lowercase">{{data[operation.position]["letter"]}}</a>
          <a class="uppercase">{{data[operation.position]["letter"]}}</a>
        </div>
      </div>
    </div> 
    <div class="clearfix"></div>


    <div id="stepWord" *ngIf="operation.stepWord==true">
      <div class="row">
        <div class="col-md-4">
          <div class="word">
           <p>{{data[operation.position]["words"][0]["word"]}} </p> 
         </div>
          <div class="image">
            <img src="{{url}}img/letter/words_example/{{data[operation.position]['words'][0]['image']}}" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="content-video">
            <video controls="controls" autoplay="autoplay" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
              <source src="{{url}}video/palabras/{{data[operation.position]['words'][0]['representation']}}" type="video/mp4">
                <source src="{{url}}video/palabras/{{data[operation.position]['words'][0]['representation']}}" type="video/ogg">
            </video>
          </div>
        </div>
      </div>
    </div>


    <div id="stepExample" [ngStyle]="{'border-image-source':'url(http://orientacionandujar.files.wordpress.com/2012/09/marco-para-decorar-madagascar.png?resize=500%2C386)'}" *ngIf="operation.stepExample.visible==true">

      <div class="row step-tree-primary" *ngIf="operation.stepExample.first==true" data-step-tree="1">
        <div class="col-md-4">
          <div class="image">
            <img src="{{url}}img/letter/words_example/Arbol.png" alt="" (click)="show_element('arbol')">
          </div>
          <div class="word">
            <p class="text-center" data-word="arbol">Arbol</p>
          </div>
          <div class="content-video">
              <video controls="on" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
                <source src="{{url}}video/palabras/Arbol.mp4" type="video/mp4">
                <source src="{{url}}video/palabras/Arbol.mp4" type="video/ogg">
              </video>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="{{url}}img/letter/words_example/Elefante.png" alt="" (click)="show_element('elefante')">
          </div>
          <div class="word">
            <p class="text-center" data-word="elefante">Elefante</p>
          </div>
          <div class="content-video">
            <video controls="controls" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
              <source src="{{url}}video/palabras/Elefante.mp4" type="video/mp4">
                <source src="{{url}}video/palabras/Elefante.mp4" type="video/ogg">
            </video>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="{{url}}img/letter/words_example/Iguana.png" alt="" (click)="show_element('iguana')">
          </div>
          <div class="word">
            <p class="text-center" data-word="iguana">Iguana</p>
          </div>
          <div class="content-video" >
            <video controls="controls" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
              <source src="{{url}}video/palabras/Iguana.mp4" type="video/mp4">
              <source src="{{url}}video/palabras/Iguana.mp4" type="video/ogg">
            </video>
          </div>
        </div>
      </div>

    <div class="step-tree-secondary" data-step-tree="2" *ngIf="operation.stepExample.last==true">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="image">
            <img src="{{url}}img/letter/words_example/Oveja.png" alt="" (click)="show_element('oveja')">
          </div>
          <div class="word">
            <p class="text-center" data-word="oveja">Oveja</p>
          </div>
          <div class="content-video">
            <video  controls="controls" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
              <source src="{{url}}video/palabras/Oveja.mp4" type="video/mp4">
              <source src="{{url}}video/palabras/Oveja.mp4" type="video/ogg">
            </video>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="{{url}}img/letter/words_example/Uvas.png" alt="" (click)="show_element('uvas')">
          </div>
          <div class="word">
            <p class="text-center" data-word="uvas">Uvas</p>
          </div>
          <div class="content-video">
            <video controls="controls" [ngStyle]="{'border-image-source':'url('+border_video+')'}">
              <source src="{{url}}video/palabras/Uvas.mp4" type="video/mp4">
                <source src="{{url}}video/palabras/Uvas.mp4" type="video/ogg">
            </video>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
        
    </div>
  </div>


    </div>
</section>