<section id="home"  (window:resize)="onResize($event)">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="name-project">
            <img src="{{url}}img/logos/name.png" alt="" class="img-responsive">
          </div>
          <div class="img-hands">
            <img src="{{url}}img/logos/hands.png" alt="">
          </div>
          <div class="menu text-center"> 
            <a  class="btn-exit" (click)="menu()"><i class="fa fa-times"></i></a>
          </div>
          <div class="text-center">
             <a  class="text-center btn-menu" (click)="menu()"><i class="fa fa-bars"></i> MENU </a>

          </div>
          <ul class="navigation">  
            <li><a [routerLink]="['/vocales']"><img src="{{url}}img/btns/btn-vocal.png" alt=""></a></li>
            <li><a [routerLink]="['/abecedario']"><img src="{{url}}img/btns/btn-abecedario.png" alt=""></a></li>
            <li><a [routerLink]="['/actividades/palabra/arbol']"><img src="{{url}}img/btns/btn-actividades.png" alt=""></a></li>
            <li><a [routerLink]="['/ruleta']"><img src="{{url}}img/btns/btn-repaso.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
</section> 
