<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top"><a href="index.html" class="navbar-brand">INCLUSORD</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
        <li class="nav-item"><a href="#about-us" class="nav-link link-scroll">Mision</a></li>
        <li class="nav-item"><a href="#features" class="nav-link link-scroll">Features</a></li>
        <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Testimonials</a></li>
        <li class="nav-item"><a href="text.html" class="nav-link">Text Page</a></li>
      </ul>
      <div class="navbar-text">   
        <!-- Button trigger modal--><a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6"><a href="#" class="brand">Landy</a>
        <ul class="contact-info list-unstyled">
          <li><a href="mailto:sales@landy.com">Sales@Landy.com</a></li>
          <li><a href="tel:123456789">+00 123 456 789</a></li>
        </ul>
        <ul class="social-icons list-inline">
          <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Selected Cases</h5>
        <ul class="links list-unstyled">
          <li> <a href="#">Guess Conntect</a></li>
          <li> <a href="#">Postly</a></li>
          <li> <a href="#">Iris Vor Arnim</a></li>
          <li> <a href="#">Yapital</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Selected Cases</h5>
        <ul class="links list-unstyled">
          <li> <a href="#">Guess Conntect</a></li>
          <li> <a href="#">Postly</a></li>
          <li> <a href="#">Iris Vor Arnim</a></li>
          <li> <a href="#">Yapital</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5>Selected Cases</h5>
        <ul class="links list-unstyled">
          <li> <a href="#">Guess Conntect</a></li>
          <li> <a href="#">Postly</a></li>
          <li> <a href="#">Iris Vor Arnim</a></li>
          <li> <a href="#">Yapital</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p>&copy; 2017 Landy.com. All rights reserved.                        </p>
        </div>
        <div class="col-md-5 text-right">
          <p>Template By <a href="https://bootstrapious.com/" class="external">Bootstrapious</a>  </p>
          <!-- Please do not remove the backlink to Bootstrapious unless you support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :) -->
        </div>
      </div>
    </div>
  </div>
</footer>
